.about-container{
    min-height: 90vh;
    margin: 0.5rem 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.about-container img{
    max-width: 60%;
    border-radius: 50%;
}

.about-container .abouttext-container{
    max-width: 40%;
    text-align: justify;
    font-family: sans-serif;
}

@media only screen and (min-width: 200px) and (max-width: 767px){
    div.about-container{
        flex-direction: column;
        margin: 0;
        justify-content: flex-start;
    } 

.about-container img{
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.about-container .abouttext-container{
    max-width: 90%;
}

}